spring:
  application:
    name: catalog-rest-api
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ecommerce
    username: test
    password: test
  flyway:
    enabled: false
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.type: trace

springdoc:
  swagger-ui:
    path: /swagger-ui.html
