spring:
  application:
    name: catalog-rest-api
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ecommerce
    username: test
    password: test
  flyway:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ecommerce
    user: test
    password: test
    locations: classpath:db/migration
    default-schema: ecommerce
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    date-format: yyyy-MM-dd hh:mm:ss
  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss

logging:
  level:
    org.hibernate.type: trace

springdoc:
  swagger-ui:
    path: /swagger-ui.html
